body {
  margin-bottom: 50px;
}

.col-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

img {
  max-width: 100%;
}

.soft-wrap-img{
  padding: 5px;
}

.param-label {
  display: inline-block;
  font-weight: bold;
  font-size: 1.1em;
  margin: 10px 0;
}

.param-name {
  font-weight: bold;
}

.separator {
  height: 1px;
  background-color: #808080;
  margin: 10px 0;
}

.centered {
  text-align: center;
}
